<link rel="stylesheet" href='/css/_header.css')>
<nav>
    <div class="container main-nav flex">
        <div>
        <a href="/" class="company-logo">
            <img src="/images/favicon.ico" alt="company logo">
               <span style="font-size: 25px;">SahiNotes</span>
        </a>
    </div>
        <div class="nav-links" id="nav-links">
            <ul class="flex">
                <% if(locals.userName){  %>
                <li><a href="/users/profile/<%- locals.user_id  %>" class="hover-link"><h3><%- locals.userName %> </h3></a></li>
                <li><a href="/users/notes/upload_notes_page" class="hover-link">Upload_Note</a></li>
                <li><a href="/users/mobile_auth/verify_mobile" class="hover-link">Verify_Mobile</a></li>
                <li><a href="/users/logout" class="hover-link">LogOut</a></li>
                <% }else{ %>
                <li><a href="/users/signin" class="hover-link secondary-button">Sign in</a></li>
                <li><a href="/users/signup" class="hover-link primary-button">Sign up</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>