<link rel="stylesheet" type="text/css" href="/css/signin.css">

<main class="main">
<div class="login-page">
    <div class="form">
      <form class="login-form" action="/users/forget_&_update_password/forget_password" method="POST" >
		<h1>Forgot Password</h1>
    <p>
      <label for="fullname">Email</label>
      <input type="email" name="email" placeholder="your email"  required>
       </p>
    <button>Send Mail</button>
	</form>
    </div>
  </div>
  </main>