<link rel="stylesheet" href="/css/home.css" ) />

<!-- header section -->
<header>
  <div class="container header-section flex">
    <div class="header-left">
      <h1>Host a PDF Online</h1>
      <p>
        Host is a simple tool to upload and host your PDF online. Sharing your
        PDF online can be complicated.
      </p>
      <a href="/users/signin" class="primary-button get-started-btn"
        >Get Started</a
      >
    </div>
    <div class="header-right">
      <img src="/images/asset 2.png" alt="hero image" />
    </div>
  </div>
</header>

<!-- big features section -->

<section class="big-feature-section">
  <div class="container flex big-feature-container">
    <div class="feature-img">
      <img src="/images/asset 18.png" alt="" />
    </div>
    <div class="feature-desc flex">
      <!-- <h4>Effortless validation for</h4> -->
      <h2>Password protect PDFs</h2>
      <p>
        Secure your PDFs by easily adding a password to restrict viewers.Web
        Services allowing your visitors to access your PDF very quickly wherever
        they are in the world.
      </p>
    </div>
  </div>
</section>

<section class="big-feature-section">
  <div class="container flex big-feature-container" id="second-big-feature">
    <div class="feature-img">
      <img src="/images/asset 21.png" alt="" />
    </div>
    <div class="feature-desc flex">
      <h2>Free Of Cost</h2>
      <p>
        Host is a static hosting tool which means its very cheap to host your
        PDF regardless of how large it is or number of viewers.
      </p>
    </div>
  </div>
</section>

<section class="big-feature-section">
  <div class="container flex big-feature-container">
    <div class="feature-img">
      <img src="/images/asset 24.png" alt="" />
    </div>
    <div class="feature-desc flex">
      <h2>Drag & drop upload</h2>
      <p>
        No need for any hosting knowledge, simply drag & drop your PDF
        file.provides a very reliable service to share your PDF.
      </p>
    </div>
  </div>
</section>

<!-- cta section -->

<section class="cta-section">
  <div class="container flex cta-section-container">
    <h2>Start Sharing today</h2>
    <p>
      You can store and share files (photos, PDFs) With Jumpshare you can do
      more than view PDF files. You can upload and share large PDF documents
      within seconds via cloud sharing,
    </p>
    <a href="/users/signin" class="primary-button">Get Started</a>
  </div>
</section>

<script src="/js/home.js"></script>
