<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<div id="heading">
  <h1>profile page</h1>
  
  <p id="logged_in_user_id"><%- locals.user %></p>
  <p id="login_user" ><%- locals.user_id %></p>
</div>
<a href="/users/notes/upload_notes_page">Upload Notes</a>
<a href="/users/logout">logout</a>
<a href="/users/mobile_auth/verify_mobile">Verify mobile</a>
<!-- <button id="btn">Get Notes</button> -->
<div id="notes_view">
    
</div>
<div id="users_view">

</div>
<script src="/js/profile.js"></script>
