<link rel="stylesheet" type="text/css" href="/css/verify_mobile.css">
<main class="main">
<div class="login-page">
    <div class="form">
      <form class="login-form">
        <h1>Verify Mobile</h1>
        <input id="mobileNumber" type="text" name="mobile" placeholder="Enter Your Mobile Number">
        <button id="sendOtpButton">send otp</button>
        <input type="password" name="otp" id="otp" placeholder="Enter OTP">
        <button id="verify">verify</button>
      </form>
    </div>
  </div>
  <script src="/js/verify_mobile.js"></script>
  </main>