.card {
  height: 680px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #000000;
  /* position: sticky; */
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.post {
  display: block;
  margin-left: 17%;
  margin-right: 50%;
  width: 50%;
  /* flex: auto; */
}


#comment_div {
  border: 3px solid rgb(89, 255, 0);
  margin: auto;
  width: 50%;
  padding:  10px;
}
